@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model LotteryDraw.Site.Models.MemberView

@section  LeftMenuItems{
    @Html.Partial("AccountNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>修改密码</label>
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "pwdForm" }))
{
    @Html.HiddenFor(model => model.Id)
    <table class="message_table">
        <tbody>
            <tr>
                <td class="text">旧密码</td>
                <td class="input">
                    @Html.PasswordFor(model=>model.Password, new { @class = "input-text", placeholder = "旧密码" })
                    <span class="info">*</span>
                </td>
            </tr>
            <tr>
                <td class="text">新密码</td>
                <td class="input">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "input-text", placeholder = "新密码" })
                    <span class="info">*</span>
                </td>
            </tr>
            <tr>
                <td class="text">确认新密码</td>
                <td class="input">
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "input-text", placeholder = "确认新密码" })
                    <span class="info">*</span>
                </td>
            </tr>
            <tr>
                <td class="text"></td>
                <td class="input">
                    @Html.MvcCaptcha(new MvcCaptchaOptions
                               {
                                   DelayLoad = false, //若要启用Ajax延迟加载验证码图片功能，则需要设置MvcCaptchaOptions属性的DelayLoad为true
                                   ValidationInputBoxId = "captchaInput_timing", //验证码输入文本框的客户端ID
                                   CaptchaImageContainerId = "imgContainer_timing" //包含验证码图片的容器元素的客户端ID
                               })
                    <span id="imgContainer_timing"></span>
                    <br />
                    <div>请输入上边图片中的文字：</div>
                    <input type="text" class="input-text" name="_mvcCaptchaText" id="captchaInput_timing" data-val="true" data-val-required="验证码不能为空" />
                </td>
            </tr>
            <tr>
                <td class="text"></td>
                <td class="submint">
                    <input type="submit" value="保存" class="submit button orange">
                    <a href="/Vip/ManagePrizes">
                        <input type="button" value="返回" class="submit button orange" /></a>
                </td>
            </tr>
        </tbody>
    </table>
}
@section scripts{
    @Html.Partial("PostBackMessage")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.previewimage.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#pwdForm").validate({
                errorElement: 'span',
                errorClass: 'error-info',
                focusInvalid: false,
                rules: {
                    Password: {
                        required: true
                    },
                    NewPassword: {
                        required: true,
                        minlength: 6
                    },
                    ConfirmNewPassword: {
                        equalTo: "#NewPassword"
                    }
                },

                messages: {
                    Password: {
                        required: "初始密码不能为空"
                    },
                    NewPassword: {
                        required: "新密码不能为空",
                        minlength: "密码至少6位"
                    },
                    ConfirmNewPassword: {
                        equalTo: "密码不一致"
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                },
                highlight: function (e) {
                    //$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                /* 验证通过时的处理 */
                success: function (e) {
                    //$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    //$(e).remove();
                },
                /* 错误信息的显示位置 */
                errorPlacement: function (error, element) {
                    //element.parent().append("<br />");
                    error.appendTo(element.parent());
                },
                /*执行ajaxsubmit*/
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
}
