@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@model LotteryDraw.Site.Models.MemberView
@section styles{
    <style type="text/css">
        div.reg-desc li {
            list-style: decimal;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        #mytabs {
            position: relative;
            margin: auto;
            min-width: 616px;
            width: 616px;
            float: left;
        }

            #mytabs ul.tab_title {
                height: 30px;
                line-height: 30px;
                font-size: 14px;
            }

                #mytabs ul.tab_title li {
                    float: left;
                    padding: 0 15px;
                    border: 1px solid #A1AFB9;
                    border-bottom: none;
                    position: relative;
                    cursor: pointer;
                    margin-right: 5px;
                }

            #mytabs ul li.one {
                /*background: #fff;*/
                color: #fff;
                font-weight: bold;
                background: url(../../../content/website/nav.jpg) repeat-x;
            }

            #mytabs .content {
                padding: 5px;
                border: 1px solid #A1AFB9;
                height: auto;
                /*position: absolute;
                width: 330px;
                font-size: 12px;
                top: 30px;*/
                z-index: -1;
            }
    </style>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.ct:gt(0)').hide();
            var hdw = $('.tab_title li');

            hdw.click(function () {
                $(this).addClass('one').siblings().removeClass();
                var hdw_index = hdw.index(this);
                $('.ct').eq(hdw.index(this)).show()
                    .siblings().hide();
            });
        });
    </script>
}
<div class="active" id="messagelist">
    <div id="mytabs">
        <ul class="tab_title">
            <li class="one">个人</li>
            <li>企业</li>
        </ul>
        <div class="content">
            <div class="ct">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name = "regform-psnl" }))
                {
                    <table class="message_table">
                        <tbody>
                            <tr>
                                <td class="text">用户名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-text", placeholder = "用户名" })
                                    <span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text">密码</td>
                                <td class="input">
                                    @Html.PasswordFor(model => model.Password, new { @class = "input-text", placeholder = "密码" })
                                    <span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text">确认密码</td>
                                <td class="input">
                                    <input name="password" type="password" class="input-text">
                                    <span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text">Email</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "input-text", placeholder = "Email" })
                                </td>
                            </tr>
                            <tr>
                                <td class="text">手机</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Tel, new { @class = "input-text", placeholder = "手机" })
                                </td>
                            </tr>
                            <tr>
                                <td class="text">备注</td>
                                <td class="input">
                                    <textarea name="info" cols="50" rows="6" class="textarea-text"></textarea><span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text"></td>
                                <td class="submint">
                                    <input type="submit" name="psnl" value="注册" class="submit button orange"></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="ct">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name = "regform-ent" }))
                {
                    <table class="message_table">
                        <tbody>
                            <tr>
                                <td class="text">用户名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-text", placeholder = "用户名" })
                                    <span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text">密码</td>
                                <td class="input">
                                    @Html.PasswordFor(model => model.Password, new { @class = "input-text", placeholder = "密码" })
                                    <span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text">确认密码</td>
                                <td class="input">
                                    <input name="password" type="password" class="input-text">
                                    <span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text">公司名称</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "input-text", placeholder = "公司名称" })
                                    <span class="info">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text">公司地址</td>
                                <td class="input">
                                    <input name="pname" type="text" class="input-text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">Email</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "input-text", placeholder = "Email" })
                                </td>
                            </tr>
                            <tr>
                                <td class="text">电话</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Tel, new { @class = "input-text", placeholder = "电话" })
                                </td>
                            </tr>
                            <tr>
                                <td class="text">其他联系方式</td>
                                <td class="input">
                                    <input name="contact" type="text" class="input-text">如QQ、MSN等</td>
                            </tr>
                            <tr>
                                <td class="text">备注</td>
                                <td class="input">
                                    <textarea name="info" cols="50" rows="6" class="textarea-text"></textarea><span class="info">*</span></td>
                            </tr>
                            <tr>
                                <td class="text"></td>
                                <td class="submint">
                                    <input type="submit" name="ent" value="注册" class="submit button orange"></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div style="margin-left: 630px !important">
        <div style="margin: auto;">
            <h3 class="ctitle">注册说明</h3>
            <div class="editor reg-desc">
                <ul>
                    <li>免费抽奖，中奖信息随机公告，流程透明开放。</li>
                    <li>发起抽奖需缴纳费用：个人10元/次 ，单位50元/次 ，外国人10美元/次，外国单位50美金/次。大额抽奖需有保险公司承保或第三方书面担保，驰名公司除外。（发票自负快递费）</li>
                    <li>若商家拒绝兑奖，“抽奖吗”网站先行垫付。</li>
                    <li>和“抽奖吗”一起，信守中国法律。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
