@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model LotteryDraw.Site.Models.MemberView
@section styles{
    <style type="text/css">
        div.reg-desc li {
            list-style: decimal;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        #mytabs {
            position: relative;
            margin: auto;
            min-width: 616px;
            width: 616px;
            float: left;
        }

            #mytabs ul.tab_title {
                height: 30px;
                line-height: 30px;
                font-size: 14px;
            }

                #mytabs ul.tab_title li {
                    float: left;
                    padding: 0 15px;
                    border: 1px solid #A1AFB9;
                    border-bottom: none;
                    position: relative;
                    cursor: pointer;
                    margin-right: 5px;
                }

            #mytabs ul li.one {
                /*background: #fff;*/
                color: #fff;
                font-weight: bold;
                background: url(../../../content/website/nav.jpg) repeat-x;
            }

            #mytabs .content {
                padding: 5px;
                border: 1px solid #A1AFB9;
                height: auto;
                /*position: absolute;
                width: 330px;
                font-size: 12px;
                top: 30px;*/
                z-index: -1;
            }
    </style>
}
<div class="active" id="messagelist">
    <div id="mytabs">
        @*@if (ViewBag.IsPostBack != null && (bool)ViewBag.IsPostBack)
        {
            <div style="color: #f00;" class="error-info">@ViewBag.Message</div>
        }*@
        <ul class="tab_title">
            <li class="one">个人</li>
            <li>企业</li>
        </ul>
        <div class="content">
            <div class="ct">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name = "regform-psnl" }))
                {
                    <input type="hidden" name="hidn_province" />
                    <input type="hidden" name="hidn_city" />
                    <input type="hidden" name="hidn_town" />
                    <table class="message_table">
                        <tbody>
                            <tr>
                                <td class="text">用户名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-text", placeholder = "用户名" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">昵称</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.NickName, new { @class = "input-text", placeholder = "昵称" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.NickName)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">姓名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "input-text", placeholder = "姓名" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">密码</td>
                                <td class="input">
                                    @Html.PasswordFor(model => model.Password, new { @class = "input-text", id = "PasswordPsnl", placeholder = "密码" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Password)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">确认密码</td>
                                <td class="input">
                                    <input name="ConfirmPassword" id="ConfirmPasswordPsnl" type="password" class="input-text">
                                </td>
                            </tr>
                            <tr>
                                <td class="text">Email</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "input-text", placeholder = "Email" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">手机</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Tel, new { @class = "input-text", placeholder = "手机" })
                                </td>
                            </tr>
                            <tr>
                                <td class="text">地址</td>
                                <td class="input">
                                    <select name="loc_province" class="select" style="width: 80px;"></select>
                                    <select name="loc_city" class="select" style="width: 100px;"></select>
                                    <select name="loc_town" class="select" style="width: 120px;"></select>
                                    <input type="hidden" name="location_id" />
                                    <input name="addr_suffix" type="text" class="input-text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">域名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.AdvertisingUrl, new { @class = "input-text", placeholder = "域名推广", style = "width:300px;" })
                                </td>
                            </tr>
                            @*<tr>
                                <td class="text">备注</td>
                                <td class="input">
                                    <textarea name="info" cols="50" rows="6" class="textarea-text"></textarea><span class="info">*</span></td>
                            </tr>*@
                            <tr>
                                <td class="text"></td>
                                <td class="input">
                                    @Html.MvcCaptcha(new MvcCaptchaOptions
                               {
                                   DelayLoad = false, //若要启用Ajax延迟加载验证码图片功能，则需要设置MvcCaptchaOptions属性的DelayLoad为true
                                   ValidationInputBoxId = "captchaInput_psnl", //验证码输入文本框的客户端ID
                                   CaptchaImageContainerId = "imgContainer_psnl" //包含验证码图片的容器元素的客户端ID
                               })
                                    <span id="imgContainer_psnl"></span>
                                    <br />
                                    <div>请输入上边图片中的文字：</div>
                                    <input type="text" class="input-text" name="_mvcCaptchaText" id="captchaInput_psnl" data-val="true" data-val-required="验证码不能为空" />
                            </tr>
                            <tr>
                                <td class="text"></td>
                                <td class="submint">
                                    <input type="submit" name="psnl" value="注册" class="submit button orange"></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="ct">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name = "regform-ent" }))
                {
                    <input type="hidden" name="hidn_province" />
                    <input type="hidden" name="hidn_city" />
                    <input type="hidden" name="hidn_town" />
                    <table class="message_table">
                        <tbody>
                            <tr>
                                <td class="text">用户名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-text", placeholder = "用户名" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">昵称</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.NickName, new { @class = "input-text", placeholder = "昵称" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.NickName)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">密码</td>
                                <td class="input">
                                    @Html.PasswordFor(model => model.Password, new { @class = "input-text", id = "PasswordEnt", placeholder = "密码" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Password)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">确认密码</td>
                                <td class="input">
                                    <input name="ConfirmPassword" id="ConfirmPasswordEnt" type="password" class="input-text">
                                </td>
                            </tr>
                            <tr>
                                <td class="text">公司名称</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "input-text", placeholder = "公司名称" })
                                    <span class="info">*</span><br />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">公司地址</td>
                                <td class="input">
                                    <select name="loc_province" class="select" style="width: 80px;"></select>
                                    <select name="loc_city" class="select" style="width: 100px;"></select>
                                    <select name="loc_town" class="select" style="width: 120px;"></select>
                                    <input type="hidden" name="location_id" />
                                    <input name="addr_suffix" type="text" class="input-text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text">Email</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "input-text", placeholder = "Email" })
                                    <span class="info">*</span>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <td class="text">电话</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.Tel, new { @class = "input-text", placeholder = "电话" })
                                </td>
                            </tr>
                            <tr>
                                <td class="text">域名</td>
                                <td class="input">
                                    @Html.TextBoxFor(model => model.AdvertisingUrl, new { @class = "input-text", placeholder = "域名推广", style = "width:300px;" })
                                </td>
                            </tr>
                            @*<tr>
                                <td class="text">备注</td>
                                <td class="input">
                                    <textarea name="info" cols="50" rows="6" class="textarea-text"></textarea><span class="info">*</span></td>
                            </tr>*@
                            <tr>
                                <td class="text"></td>
                                <td class="input">
                                    @Html.MvcCaptcha(new MvcCaptchaOptions
                               {
                                   DelayLoad = false, //若要启用Ajax延迟加载验证码图片功能，则需要设置MvcCaptchaOptions属性的DelayLoad为true
                                   ValidationInputBoxId = "captchaInput_ent", //验证码输入文本框的客户端ID
                                   CaptchaImageContainerId = "imgContainer_ent" //包含验证码图片的容器元素的客户端ID
                               })
                                    <span id="imgContainer_ent"></span>
                                    <br />
                                    <div>请输入上边图片中的文字：</div>
                                    <input type="text" class="input-text" name="_mvcCaptchaText" id="captchaInput_ent" data-val="true" data-val-required="验证码不能为空" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text"></td>
                                <td class="submint">
                                    <input type="submit" name="ent" value="注册" class="submit button orange"></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div style="margin-left: 630px !important">
        <div style="margin: auto;">
            <h3 class="ctitle">注册说明</h3>
            <div class="editor reg-desc">
                <ul>
                    <li>抽奖吗发起目的：品牌形象展示，与销售无关。免费抽奖，免费领奖（除商家要求的运费外，再无任何费用。领奖切记：不要泄露银行卡密码！！）一奖一ID，多次点击无效。中奖信息同步公开：中奖者邮箱，发奖者邮箱，抽奖吗网站。流程透明开放公开。</li>
                    <li>发起抽奖需要缴纳费用：个人店铺10元/次，公司机构50元/次，外国个人店铺10美元/次，外国公司机构50美元/次，审核后方显示发起的抽奖行为。大额奖品需保险公司承保或者第三方书面担保，需有关部门批准的，应提供文书。抽奖吗不承担发起抽奖者的法律责任。（发票快递到付）</li>
                    <li>若商家拒绝兑奖，<a href=">www.choujiangma.com">抽奖吗</a>先行赔付。</li>
                    <li>和抽奖吗一起，信守中国法律。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

@section scripts{
    @Html.Partial("PostBackMessage")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Content/website/address/area.js"></script>
    <script src="~/Content/website/address/location.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input:text[name='AdvertisingUrl']").focus(function () {
                layer.tips('域名必须以 http:// 开头', this, {
                    style: ['background-color:#014A97; color:#fff', '#014A97'],
                    maxWidth: 185,
                    time: 30,
                    //closeBtn: [0, true]
                    closeBtn: false
                });
            });

            $("input:text[name='AdvertisingUrl']").blur(function () {
                layer.closeTips();
            });

            //地址下拉框联动
            showLocation();

            $('.ct:gt(0)').hide();
            var hdw = $('.tab_title li');

            hdw.click(function () {
                $(this).addClass('one').siblings().removeClass();
                var hdw_index = hdw.index(this);
                $('.ct').eq(hdw.index(this)).show()
                    .siblings().hide();
            });

            //$.mask.definitions['~'] = '[+-]';
            //$('#Tel').mask('135-0987-7756');

            jQuery.validator.addMethod("phone", function (value, element) {
                return this.optional(element) || /^(13[0-9]|15[0|3|6|7|8|9]|18[8|9])\d{8}$/.test(value);
            }, "请输入合法的手机号码.");

            $("form[name='regform-psnl']").validate({
                errorElement: 'span',
                errorClass: 'error-info',
                focusInvalid: false,
                rules: {
                    UserName: {
                        required: true
                        //,email: true,
                        //minlength: 5,
                        //equalTo: "#password",
                        //phone: 'required',
                        //url: true
                    },
                    Password: {
                        required: true,
                        minlength: 6,
                    },
                    ConfirmPassword: {
                        equalTo: "#PasswordPsnl",
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Tel: {
                        phone: 'required'
                    },
                    loc_province: {
                        required: true
                    },
                    loc_city: {
                        required: true
                    },
                    loc_town: {
                        required: true
                    }
                },

                messages: {
                    UserName: {
                        required: "用户名不能为空"
                    },
                    Password: {
                        required: "密码不能为空",
                        minlength: "至少6位"
                    },
                    ConfirmPassword: {
                        equalTo: "两次输入的密码不一致"
                    },
                    Email: {
                        required: "邮箱不能为空",
                        email: "邮箱格式不正确"
                    },
                    Tel: {
                        phone: "手机号码不合法"
                    },
                    loc_province: {
                        required: "【省份】必须选择"
                    },
                    loc_city: {
                        required: "【地级市】必须选择"
                    },
                    loc_town: {
                        required: "【县、市、区】必须选择"
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                },
                highlight: function (e) {
                    //$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                /* 验证通过时的处理 */
                success: function (e, element) {
                    //$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    //$(e).remove();
                    var $element = $(element);
                    if ($element.is('.select')) {
                        var slname = $element.attr("name");
                        var errorSpan = $("form[name='regform-psnl'] span[for=" + slname + "]:eq(0)");
                        var br = errorSpan.prev("br");
                        if (br != null) {
                            br.remove();
                        }
                    }
                },
                /* 错误信息的显示位置 */
                errorPlacement: function (error, element) {
                    if (element.is('.select')) {
                        element.parent().append("<br />");
                    }
                    error.appendTo(element.parent());
                },
                /*执行ajaxsubmit*/
                submitHandler: function (form) {
                    var provincename = $("form[name='regform-psnl'] select[name='loc_province']:eq(0)").find("option:selected").text();
                    $("form[name='regform-psnl'] input[name='hidn_province']:eq(0)").val(provincename);
                    var cityname = $("form[name='regform-psnl'] select[name='loc_city']:eq(0)").find("option:selected").text();
                    $("form[name='regform-psnl'] input[name='hidn_city']:eq(0)").val(cityname);
                    var townname = $("form[name='regform-psnl'] select[name='loc_town']:eq(0)").find("option:selected").text();
                    $("form[name='regform-psnl'] input[name='hidn_town']:eq(0)").val(townname);
                    form.submit();
                }
            });

            $("form[name='regform-ent']").validate({
                errorElement: 'span',
                errorClass: 'error-info',
                focusInvalid: false,
                rules: {
                    UserName: {
                        required: true
                        //,email: true,
                        //minlength: 5,
                        //equalTo: "#password",
                        //phone: 'required',
                        //url: true
                    },
                    Password: {
                        required: true,
                        minlength: 6,
                    },
                    ConfirmPassword: {
                        equalTo: "#PasswordEnt",
                    },
                    Name: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Tel: {
                        phone: 'required'
                    },
                    loc_province: {
                        required: true
                    },
                    loc_city: {
                        required: true
                    },
                    loc_town: {
                        required: true
                    }
                },

                messages: {
                    UserName: {
                        required: "用户名不能为空"
                    },
                    Password: {
                        required: "密码不能为空",
                        minlength: "至少6位"
                    },
                    ConfirmPassword: {
                        equalTo: "两次输入的密码不一致"
                    },
                    Name: {
                        required: "公司名称不能为空"
                    },
                    Email: {
                        required: "邮箱不能为空",
                        email: "邮箱格式不正确"
                    },
                    Tel: {
                        phone: "手机号码不合法"
                    },
                    loc_province: {
                        required: "【省份】必须选择"
                    },
                    loc_city: {
                        required: "【地级市】必须选择"
                    },
                    loc_town: {
                        required: "【县、市、区】必须选择"
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                },
                highlight: function (e) {
                    //$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                /* 验证通过时的处理 */
                success: function (e, element) {
                    //$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    //$(e).remove();
                    var $element = $(element);
                    if ($element.is('.select')) {
                        var slname = $element.attr("name");
                        var errorSpan = $("form[name='regform-ent'] span[for=" + slname + "]:eq(0)");
                        var br = errorSpan.prev("br");
                        if (br != null) {
                            br.remove();
                        }
                    }
                },
                /* 错误信息的显示位置 */
                errorPlacement: function (error, element) {
                    if (element.is('.select')) {
                        element.parent().append("<br />");
                    }
                    error.appendTo(element.parent());
                },
                /*执行ajaxsubmit*/
                submitHandler: function (form) {
                    var provincename = $("form[name='regform-ent'] select[name='loc_province']:eq(0)").find("option:selected").text();
                    $("form[name='regform-ent'] input[name='hidn_province']:eq(0)").val(provincename);
                    var cityname = $("form[name='regform-ent'] select[name='loc_city']:eq(0)").find("option:selected").text();
                    $("form[name='regform-ent'] input[name='hidn_city']:eq(0)").val(cityname);
                    var townname = $("form[name='regform-ent'] select[name='loc_town']:eq(0)").find("option:selected").text();
                    $("form[name='regform-ent'] input[name='hidn_town']:eq(0)").val(townname);
                    form.submit();
                }
            });
        });
    </script>
}
