@{
    ViewBag.Title = "发起抽奖";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}
@model LotteryDraw.Site.Models.PrizeOrderView

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>发起抽奖</label>
}

@section  styles{
    <style type="text/css">
        div.row-container {
        }

        div.formdata {
            display: none;
        }

        input[type=text].num {
            width: 30px;
        }
    </style>
}

@if (ViewBag.IsPostBack != null && (bool)ViewBag.IsPostBack)
{
    <div class="row-container" style="text-align: center; color: #f00;">@ViewBag.Message</div>
}
<div class="row-container">
    <table class="message_table">
        <tbody>
            <tr>
                <td class="text">开奖类型：</td>
                <td class="input">
                    @*@Html.DropDownList("slLauchType",(SelectList)ViewBag.RevealTypeList)*@
                    <select id="slLauchType">
                        <option value="-1" containerid="welcome-container">请选择</option>
                        <option value="1" containerid="timing-container">定时开奖</option>
                        <option value="2" containerid="quota-container">定员开奖</option>
                        <option value="3" containerid="answer-container">答案开奖</option>
                        <option value="4" containerid="scene-container">实时开奖</option>
                    </select>
                </td>
            </tr>
    </table>
    <div class="clear"></div>
</div>
<div class="row-container tab" id="welcome-container">
    请选择抽奖类型，并设置好必要的抽奖信息。
</div>
<div class="row-container formdata tab" id="timing-container">
    @using (Html.BeginForm("LaunchPrize", "Vip", FormMethod.Post, new { @class = "timing" }))
    {
        <input type="hidden" name="RevealType" />
        @Html.HiddenFor(m => m.RevealTypeNum);
        @Html.HiddenFor(model => model.PrizeId)
        <table class="message_table">
            <tbody>
                <tr>
                    <td class="text">开奖日期：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.LaunchTime, new { @class = "input-text", id = "txtLaunchTime", @readonly = "readonly" })<span class="info">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="text">中奖最低人数：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.MinLuckyCount, new { @class = "input-text num" })<span class="info">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="text">中奖人数：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.LuckyCount, new { @class = "input-text num" })<span class="info">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="text">开奖率：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.LuckyPercent, new { @class = "input-text num" })<span>%</span><span class="info">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="text"></td>
                    <td class="submint">
                        @Html.Partial("LaunchPageButtonsPartial")
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <div class="clear"></div>
</div>
<div class="row-container formdata tab" id="quota-container">
    @using (Html.BeginForm("LaunchPrize", "Vip", FormMethod.Post, new { @class = "quota" }))
    {
        <input type="hidden" name="RevealType" />
        @Html.HiddenFor(m => m.RevealTypeNum);
        @Html.HiddenFor(model => model.PrizeId)
        <table class="message_table">
            <tbody>
                <tr>
                    <td class="text">奖池大小：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.PoolCount, new { @class = "input-text num" })
                    </td>
                </tr>
                <tr>
                    <td class="text">开奖率：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.LuckyPercent, new { @class = "input-text num" })<span>%</span>
                    </td>
                </tr>
                <tr>
                    <td class="text"></td>
                    <td class="submint">
                        @Html.Partial("LaunchPageButtonsPartial")
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <div class="clear"></div>
</div>
<div class="row-container formdata tab" id="answer-container">
    @using (Html.BeginForm("LaunchPrize", "Vip", FormMethod.Post, new { @class = "answer" }))
    {
        <input type="hidden" name="RevealType" />
        @Html.HiddenFor(m => m.RevealTypeNum);
        @Html.HiddenFor(model => model.PrizeId)
        <table class="message_table">
            <tbody>
                <tr>
                    <td class="text">开奖问题：</td>
                    <td class="input">
                        @Html.TextAreaFor(m => m.Question, new { @class = "textarea-text", cols = "50", rows = "3" })<span class="info">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="text">开奖答案：</td>
                    <td class="input">
                        @Html.TextAreaFor(m => m.Answer, new { @class = "textarea-text", cols = "50", rows = "6" })<span class="info">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="text">中奖最低人数：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.MinLuckyCount, new { @class = "input-text num" })
                    </td>
                </tr>
                <tr>
                    <td class="text">开奖率：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.LuckyPercent, new { @class = "input-text num" })<span>%</span>
                    </td>
                </tr>
                <tr>
                    <td class="text"></td>
                    <td class="submint">
                        @Html.Partial("LaunchPageButtonsPartial")
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <div class="clear"></div>
</div>
<div class="row-container formdata tab" id="scene-container">
    @using (Html.BeginForm("LaunchPrize", "Vip", FormMethod.Post, new { @class = "scene" }))
    {
        <input type="hidden" name="RevealType" />
        @Html.HiddenFor(m => m.RevealTypeNum);
        @Html.HiddenFor(model => model.PrizeId)
        <table class="message_table">
            <tbody>
                <tr>
                    <td class="text">中奖最低人数：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.MinLuckyCount, new { @class = "input-text num" })
                    </td>
                </tr>
                <tr>
                    <td class="text">开奖率：</td>
                    <td class="input">
                        @Html.TextBoxFor(m => m.LuckyPercent, new { @class = "input-text num" })<span>%</span>
                    </td>
                </tr>
                <tr>
                    <td class="text"></td>
                    <td class="submint">
                        @Html.Partial("LaunchPageButtonsPartial")
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <div class="clear"></div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Content/website/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化日期选择控件
            $("#txtLaunchTime").focus(function () {
                WdatePicker({ dateFmt: 'yyyy-MM-dd' })
            });

            //var startDate = $("#txtStartDate").val();
            //var endDate = $("#txtEndDate").val();
            //if (dateCompare(startDate, endDate)) {
            //    $("#formSearch").submit();
            //} else {
            //    $.ligerDialog.warn("起始时间必须小于终止时间");
            //}

            $("form[class='timing']").validate({
                errorElement: 'span',
                errorClass: 'error-info',
                focusInvalid: false,
                rules: {
                    Name: {
                        required: true
                    }
                },

                messages: {
                    Name: {
                        required: "奖品名称不能为空"
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                },
                highlight: function (e) {
                    //$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                /* 验证通过时的处理 */
                success: function (e) {
                    //$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    //$(e).remove();
                },
                /* 错误信息的显示位置 */
                errorPlacement: function (error, element) {
                    //element.parent().append("<br />");
                    error.appendTo(element.parent());
                },
                /*执行ajaxsubmit*/
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $("#slLauchType").change(function () {
                $("input:hidden[name='RevealType']").val($(this).val());
                $("input:hidden[name='RevealTypeNum']").val($(this).val());
                var $opobj = $(this).find("option:selected");
                var containerid = $opobj.attr("containerid");
                $("div.tab").hide();
                $("#" + containerid).show();
            });
        });

        function dateCompare(startdate, enddate) {
            var arr = startdate.split("-");
            var starttime = new Date(arr[0], arr[1], arr[2]);
            var starttimes = starttime.getTime();

            var arrs = enddate.split("-");
            var lktime = new Date(arrs[0], arrs[1], arrs[2]);
            var lktimes = lktime.getTime();

            if (starttimes >= lktimes) {
                return false;
            }
            else
                return true;
        }
    </script>
}
