@using LotteryDraw.Component.Tools;
@{
    ViewBag.Title = "奖单详情";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}
@model LotteryDraw.Site.Models.PrizeOrderView

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>奖单详情</label>
}

<table class="message_table">
    <tbody>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <tr>
                <td colspan="2" style="text-align: center; color: #f00;">@ViewBag.Message</td>
            </tr>
        }
        @if (Model == null) { }
        else{
        <tr>
            <td class="text">开奖类型：</td>
            <td class="input">
                @Model.RevealType.ToDescription()
            </td>
        </tr>
        <tr>
            <td class="text">状态：</td>
            <td class="input">
                @Model.RevealState.ToDescription()
            </td>
        </tr>
        <tr>
            <td class="text">描述：</td>
            <td class="input">
                @Model.Remarks
            </td>
        </tr>
        <tr>
            <td class="text">发起时间：</td>
            <td class="input">
                @Model.AddDate.ToString("yyy-MM-dd HH:mm:ss")
            </td>
        </tr>
        }
        <tr>
            <td class="text"></td>
            <td class="submint">
                <a href="/Vip/PrizeOrderList">
                    <input type="button" value="返回" class="submit button orange" onclick="javascript:history.go(-1)" />
            </td>
        </tr>
    </tbody>
</table>