@{
    ViewBag.Title = "奖品详情";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}
@model LotteryDraw.Site.Models.PrizeView

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>奖品详情</label>
}

<table class="message_table">
    <tbody>
        @if (ViewBag.IsPostBack != null && (bool)ViewBag.IsPostBack)
        {
            <tr>
                <td colspan="2" style="text-align: center; color: #f00;">@ViewBag.Message</td>
            </tr>
        }
        <tr>
            <td class="text">奖品名称：</td>
            <td class="input">
                @Model.Name
            </td>
        </tr>
        <tr>
            <td class="text">奖品图片：</td>
            <td class="input">
                @*<img src="data:image/png;base64,@Model.PhotoBase64" style="max-width:400px;" />*@
                @{string photoName = string.Empty;
                  if (Model.OriginalPhoto != null && !string.IsNullOrEmpty(Model.OriginalPhoto.Name))
                  {
                      photoName = "/Files/PrizePhotos/" + ViewBag.UserId + "/" + Model.OriginalPhoto.Name;
                  }
                  else
                  {
                      photoName = "";
                  }
                }
                <img src="@photoName" style="max-width:400px;" />
            </td>
        </tr>
        <tr>
            <td class="text">描述：</td>
            <td class="input">
                @Model.Description
            </td>
        </tr>
        <tr>
            <td class="text">发布时间：</td>
            <td class="input">
                @Model.AddDate.ToString("yyy-MM-dd HH:mm:ss")
            </td>
        </tr>
        <tr>
            <td class="text">修改时间：</td>
            <td class="input">
                @{
                    string dateString = Model.UpdateDate.HasValue ? Model.UpdateDate.Value.ToString("yyy-MM-dd HH:mm:ss") : string.Empty;
                }
                @dateString
            </td>
        </tr>
        <tr>
            <td class="text"></td>
            <td class="submint">
                @*<input type="button" id="btnLaunch" value="发起抽奖" pubtimes="@ViewBag.PublishEnableTimes" class="submit button orange">*@
                <input type="button" value="返回" class="submit button orange" onclick="javascript: history.go(-1);" />
            </td>
        </tr>
    </tbody>
</table>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnLaunch").click(function () {
                var pubtimes = '@ViewBag.PublishEnableTimes';
                if (pubtimes > 0) {
                    var href = "/Vip/LaunchPrize/@Model.Id";
                    location.href = href;
                } else {
                    layer.alert("抱歉，您可发起抽奖的次数为0，请续费后再继续使用该功能。", 8);
                }
            });
        });
    </script>
}