@{
    ViewBag.Title = "奖品详情";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}
@model LotteryDraw.Site.Models.PrizeView

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>奖品详情</label>
}
@using (Html.BeginForm("LaunchPrize", "Vip", FormMethod.Post, new { id = "prizeForm" }))
{
    @Html.HiddenFor(model => model.MemberId)
    <table class="message_table">
        <tbody>
            @if (ViewBag.IsPostBack != null && (bool)ViewBag.IsPostBack)
            {
                <tr>
                    <td colspan="2" style="text-align: center; color: #f00;">@ViewBag.Message</td>
                </tr>
            }
            <tr>
                <td class="text">奖品名称：</td>
                <td class="input">
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td class="text">奖品图片：</td>
                <td class="input">
                    <img src="data:image/png;base64,@Model.PhotoBase64" style="max-width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="text">描述：</td>
                <td class="input">
                    @Model.Description
                </td>
            </tr>
            <tr>
                <td class="text">发布时间：</td>
                <td class="input">
                    @Model.AddDate.ToString("yyy-MM-dd HH:mm:ss")
                </td>
            </tr>
            <tr>
                <td class="text">修改时间：</td>
                <td class="input">
                    @{
                        string dateString = Model.UpdateDate.HasValue ? Model.UpdateDate.Value.ToString("yyy-MM-dd HH:mm:ss") : string.Empty;
                    }
                    @dateString
                </td>
            </tr>
            <tr>
                <td class="text"></td>
                <td class="submint">
                    <input type="submit" value="发起抽奖" class="submit button orange">
                    <a href="/Vip/ManagePrizes">
                        <input type="button" value="返回" class="submit button orange" /></a>
                </td>
            </tr>
        </tbody>
    </table>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#prizeForm").validate({
                errorElement: 'span',
                errorClass: 'error-info',
                focusInvalid: false,
                rules: {
                    Name: {
                        required: true
                    }
                },

                messages: {
                    Name: {
                        required: "奖品名称不能为空"
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                },
                highlight: function (e) {
                    //$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                /* 验证通过时的处理 */
                success: function (e) {
                    //$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    //$(e).remove();
                },
                /* 错误信息的显示位置 */
                errorPlacement: function (error, element) {
                    //element.parent().append("<br />");
                    error.appendTo(element.parent());
                },
                /*执行ajaxsubmit*/
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
}