@{
    ViewBag.Title = "发布奖品";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model LotteryDraw.Site.Models.PrizeView

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>发布奖品</label>
}
@using (Html.BeginForm("PublishPrizeAjax", "Vip", FormMethod.Post, new { id = "prizeForm" }))
{
    //enctype = "multipart/form-data"
    @Html.HiddenFor(model => model.MemberId)
    <table class="message_table">
        <tbody>
            @*@if (ViewBag.IsPostBack != null && (bool)ViewBag.IsPostBack)
            {
                <tr>
                    <td colspan="2" style="text-align: center; color: #f00;">@ViewBag.Message</td>
                </tr>
            }*@
            <tr>
                <td class="text">奖品名称</td>
                <td class="input">
                    @Html.TextBoxFor(model => model.Name, new { @class = "input-text", placeholder = "奖品名称" })
                    <span class="info">*</span>
                    <br />
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            @*<tr>
                <td class="text">奖品图片</td>
                <td class="input">
                    <input type="file" id="prizePhoto" name="PrizePhoto" />
                    <div id="divPreview" style="background-color: #ccc; text-align: center; vertical-align: middle;">
                        <img id="imgHeadPhoto" style="display: none; max-width: 400px;" alt="" />
                    </div>
                </td>
            </tr>*@
            <tr>
                <td class="text">描述：</td>
                <td class="input">
                    @Html.TextAreaFor(model => model.Description, new { @class = "textarea-text", cols = "50", rows = "6", placeholder = "描述" })
                    <br />
                </td>
            </tr>
            <tr>
                <td class="text"></td>
                <td class="input">
                    @Html.MvcCaptcha(new MvcCaptchaOptions
                               {
                                   DelayLoad = false, //若要启用Ajax延迟加载验证码图片功能，则需要设置MvcCaptchaOptions属性的DelayLoad为true
                                   ValidationInputBoxId = "captchaInput", //验证码输入文本框的客户端ID
                                   CaptchaImageContainerId = "imgContainer" //包含验证码图片的容器元素的客户端ID
                               })
                    <span id="imgContainer"></span>
                    <br />
                    <div>请输入上边图片中的文字：</div>
                    <input type="text" class="input-text" name="_mvcCaptchaText" id="captchaInput" data-val="true" data-val-required="验证码不能为空" />
                </td>
            </tr>
            <tr>
                <td class="text"></td>
                <td class="submint">
                    <input type="submit" value="发布" class="submit button orange"></td>
            </tr>
        </tbody>
    </table>
}
@using (Html.BeginForm("SavePhotoAjax", "Vip", FormMethod.Post, new { id = "photoForm", enctype = "multipart/form-data", style = "display:none" }))
{
    @Html.Hidden("PrizeId")
    <table class="message_table">
        <tr>
            <td class="text">奖品图片</td>
            <td class="input">
                <input type="file" id="prizePhoto" name="PrizePhoto" />
                <div id="divPreview" style="background-color: #ccc; text-align: center; vertical-align: middle;">
                    <img id="imgHeadPhoto" style="display: none; max-width: 400px;" alt="" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="text"></td>
            <td class="submint">
                <input type="submit" value="上传" class="submit button orange"></td>
        </tr>
    </table>
}
@section scripts{
    @Html.Partial("PostBackMessage")
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.previewimage.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#prizeForm").validate({
                errorElement: 'span',
                errorClass: 'error-info',
                focusInvalid: false,
                rules: {
                    Name: {
                        required: true
                    }
                },

                messages: {
                    Name: {
                        required: "奖品名称不能为空"
                    }
                },
                invalidHandler: function (event, validator) { //display error alert on form submit   
                    //$('.alert-danger', $('.login-form')).show();
                },
                highlight: function (e) {
                    //$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                /* 验证通过时的处理 */
                success: function (e) {
                    //$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    //$(e).remove();
                },
                /* 错误信息的显示位置 */
                errorPlacement: function (error, element) {
                    //element.parent().append("<br />");
                    error.appendTo(element.parent());
                },
                /*执行ajaxsubmit*/
                submitHandler: function (form) {
                    //form.submit();
                    var loadi;
                    $(form).ajaxSubmit({
                        type: "post",
                        dataType: "json", //期望返回的数据类型。null、“xml”、“script”或者“json”其中之一
                        //url: "test_save.php?time=" + (new Date()).getTime(),
                        beforeSubmit: function () {
                            loadi = layer.load('正在提交数据库，请耐心等待…');
                        },
                        success: function (data) {
                            var result = data.OK;
                            var message = data.Message;
                            if (!result) {
                                layer.alert(message, 8);
                                $("#abtnChangeCaptcha").trigger("click");
                                return;
                            }
                            layer.confirm("奖品信息保存成功，是否同时上传图片？", function (index) {
                                layer.close(index);
                                var pid = data.PrizeId;
                                $("#PrizeId").val(pid);
                                $("#prizeForm").hide();
                                $("#photoForm").fadeIn();
                                // 显示上传图片
                            }, function () { });
                        }
                        ,
                        error: function () {

                        },
                        complete: function () {
                            layer.close(loadi);
                        }
                    });
                }
            });

            $("#photoForm").submit(function () {
                var loadi;
                $(this).ajaxSubmit({
                    type: "post",
                    //dataType: "xml", //期望返回的数据类型。null、“xml”、“script”或者“json”其中之一
                    //url: "test_save.php?time=" + (new Date()).getTime(),
                    beforeSubmit: function () {
                        loadi = layer.load('正在上传图片，请耐心等待…');
                    },
                    success: function (data) {
                        var result = data.OK;
                        var message = data.Message;
                        if (!result) {
                            layer.alert(message, 8);
                            return;
                        }
                        layer.alert(message, 9);
                    },
                    error: function () {

                    },
                    complete: function () {
                        layer.close(loadi);
                    }
                });
                return false;
            });

            $("#prizePhoto").PreviewImage({
                ImageClientId: "imgHeadPhoto",
                MaxWidth: 300,
                MaxHeight: 200,
                DivPreviewId: "divPreview",
                AllowExtention: ".jpg,.bmp,.gif,.png"
            });
        });
    </script>
}