@using LotteryDraw.Component.Tools;
@using System.Data;
@using LotteryDraw.Site.Models;
@using Webdiyer.WebControls.Mvc;
@model Webdiyer.WebControls.Mvc.PagedList<PrizeOrderDetailView>
<div class="ranking-web-content seach-result-content clearfix">
    @{if (Model != null && Model.Count > 0)
      {
        <div class="classify">
            @*<div class="n-header-middle fl">
                <div class="search-contai">
                    @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), "Business"))
                    {
                        <input class="seach-content" type="text" name="keywords" placeholder="奖品名称/奖品描述/发布者用户名/发布者昵称" value="@ViewBag.Keywords">
                        <input class="n-submit pngIcon" type="submit" value=" ">
                    }
                </div>
            </div>
            <div class="clear"></div>*@
        </div>
        @Html.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "id",
           ContainerTagName = "div",
           FirstPageText = "首页",
           LastPageText = "尾页",
           PrevPageText = "上一页",
           NextPageText = "下一页",
           PagerItemsSeperator = "",
           NumericPagerItemCount = 10, //获取或设置每页显示的数字页索引索引分页导航元素的数目
           PagerItemWrapperFormatString = "{0}",
           CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>"
       }, new { @class = "pageBox" })
          //DataRow[] arrayDR = (DataRow[])ViewBag.AllPrizeOrders;
          //if (arrayDR != null && arrayDR.Count() > 0)
          //{
          foreach (PrizeOrderDetailView item in Model)
          {
              //string poid = dr["PrizeOrderId"].ToString();
              //string pid = dr["PrizeId"].ToString();
              //string prizeName = dr["PrizeName"].ToString();
              //string prizeDescription = dr["PrizeDescription"].ToString();
              //// 发起抽奖日期
              //string addDate = DateTime.Parse(dr["RaiseTime"].ToString()).ToString("yyyy-MM-dd");
              //string username = dr["UserName"].ToString(); //发起抽奖者
              //int rtype = int.Parse(dr["RevealType"].ToString());
              string poid = item.PrizeOrderView.Id.ToString();
              string pid = item.PrizeView.Id.ToString();
              string prizeName = item.PrizeView.Name.ToString();
              string prizeDescription = item.PrizeView.Description.ToString();
              // 发起抽奖日期
              string addDate = item.PrizeOrderView.AddDate.ToString("yyyy-MM-dd");
              string username = item.MemberView.UserName.ToString(); //发起抽奖者
              string pubuserid = item.MemberView.Id.ToString();
              int rtype = item.PrizeOrderView.RevealType.ToInt();
              string rtstring = ((LotteryDraw.Component.Tools.RevealType)rtype).ToDescription().Replace("开奖", "");
              string originalPhotoName = item.PrizeView.OriginalPhoto.Name;
              string advurl = item.MemberView.AdvertisingUrl;
              int scopeType = item.PrizeOrderView.ScopeTypeNum;
              string scopeCity = "全国";
              if (scopeType == ScopeType.AreaCity.ToInt())
              {
                  scopeCity = item.PrizeOrderView.ScopeAreaCity;
              }
              bool showTimeSpan = false; //显示距离开奖时长
              bool isOutOfDate = false; //已过期
              bool joinEnable = true;
                        
        <dl class="clearfix ranking-movie-list fl">
            <dt class="fl">
                <a href="/Vip/PrizeDetail/@pid" target="_self">
                    @{
              string photoname = string.Empty;
              if (!string.IsNullOrEmpty(originalPhotoName))
              {
                  photoname = "/Files/PrizePhotos/" + pubuserid + "/" + originalPhotoName;
              }
              else
              {
                  photoname = "";
              }
                    }
                    <img src="@photoname" onerror="this.onerror=null,this.src=&#39;http://image11.m1905.cn/uploadfile/nopic.gif&#39;">
                    @*<span class="assessment-zan up dpngIcon pngIcon">93%</span>*@

                    <p class="ranking-pic-back ranking-pic"></p>
                    <p class="ranking-show-time ranking-pic">发起抽奖时间：@addDate</p>
                </a>
                @{
              string classString = "act_icon_" + item.PrizeOrderView.RevealState.ToString().ToLower();
              string iconString = string.Empty;
              if (item.PrizeOrderView.RevealStateNum != RevealState.UnDrawn.ToInt())
              {
                  iconString = item.PrizeOrderView.RevealState.GetDescription();
              }
              else
              {
                  // 定员抽奖，需要判断奖池是否已满
                  if (item.PrizeOrderView.RevealType == RevealType.Quota ||
                      (item.PrizeOrderView.RevealType == RevealType.Answer
                          && item.PrizeOrderView.AnswerRevealConditionType == AnswerRevealConditionType.Quota
                          && item.PrizeOrderView.RevealTypeOfAnswer == RevealTypeOfAnswer.Auto
                       )
                     )
                  {
                      if (item.PrizeOrderView.JoinedCount == item.PrizeOrderView.PoolCount)
                      {
                          iconString = "奖池已满";
                          joinEnable = false;
                      }
                  }
                  // 定时抽奖，需要判断奖池是否已满
                  if (item.PrizeOrderView.RevealType == RevealType.Timing ||
                      (item.PrizeOrderView.RevealType == RevealType.Answer
                          && item.PrizeOrderView.AnswerRevealConditionType == AnswerRevealConditionType.Timing
                          && item.PrizeOrderView.RevealTypeOfAnswer == RevealTypeOfAnswer.Auto
                       )
                     )
                  {
                      showTimeSpan = true;
                      if (item.PrizeOrderView.LaunchTime.HasValue
                          && item.PrizeOrderView.LaunchTime.Value < DateTime.Now)
                      {
                          iconString = "已过期";
                          isOutOfDate = true;
                          classString = "act_icon_disabled";
                          joinEnable = false;
                      }
                  }
              }
              if (!string.IsNullOrEmpty(iconString))
              {
                      
                    <div class="act_icon @classString" style="position: absolute; left: 0; top: 0; font-size: 12px;">
                        <span class="start">@iconString</span>
                    </div>
              }
                }
            </dt>
            <dd class="fl">
                <div class="ranking-movie-name clearfix">
                    <h3>
                        <div style="width: 200px; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden;"><a href="/Business/PrizeOrderDetail/@poid" title="@prizeName">@prizeName</a></div>
                    </h3>
                    <span>@rtstring</span>
                </div>
                <p class="rmn-item">
                    <em>抽奖发起者 :</em>
                    <span style="width: auto;">
                        <nobr>
                               <a href="/Account/UserSpace/@item.MemberView.Id"> @username </a>
                                </nobr>
                    </span>
                </p>
                <p class="rmn-item">
                    <em>抽奖范围 :</em>
                    <span>@scopeCity
                    </span>
                </p>
                <p class="rmn-item">
                    <em>运费 :</em>
                    <span>@item.PrizeOrderView.Freight
                        元
                    </span>
                </p>
                <p class="rmn-item">
                    <em>已抽奖 :</em>
                    <span>@item.PrizeOrderView.JoinedCount
                        人
                    </span>
                </p>
                @{
              if (item.PrizeOrderView.RevealType == RevealType.Quota ||
                  item.PrizeOrderView.RevealType == RevealType.Answer && item.PrizeOrderView.AnswerRevealConditionType == AnswerRevealConditionType.Quota)
              {
                  int joindCount = item.PrizeOrderView.JoinedCount;
                  int poolCount = item.PrizeOrderView.PoolCount ?? 0;
                  int leftCount = poolCount - joindCount;
                    <p class="rmn-item">
                        <em>距开奖还差 :</em>
                        <span>@leftCount
                            人
                        </span>
                    </p>}
                }
                @{
              if (!isOutOfDate && showTimeSpan)
              {
                  if (item.PrizeOrderView.LaunchTime.HasValue)
                  {
                      DateTime lauchTime = item.PrizeOrderView.LaunchTime.Value;

                      string dateDiff = null;
                      TimeSpan tsNow = new TimeSpan(DateTime.Now.Ticks);
                      TimeSpan tsLT = new TimeSpan(lauchTime.Ticks);
                      TimeSpan ts = tsNow.Subtract(tsLT).Duration();

                      dateDiff = ts.Days > 0 ? ts.Days.ToString() + "天" : string.Empty
                      + ((ts.Days == 0 && ts.Hours == 0) ? string.Empty : ts.Hours.ToString() + "小时")
                      + ((ts.Days == 0 && ts.Hours == 0 && ts.Minutes == 0) ? string.Empty : ts.Minutes.ToString() + "分钟")
                      + ts.Seconds.ToString() + "秒";
                  
                    <p class="rmn-item">
                        <em>距开奖还差 :</em>
                        <span title="@dateDiff">@dateDiff
                        </span>
                    </p>}
              }}
                @{
              if (item.PrizeOrderView.RevealType == RevealType.Answer)
              {
                  string typeString = item.PrizeOrderView.RevealTypeOfAnswer.ToDescription();
                  if(item.PrizeOrderView.RevealTypeOfAnswer == RevealTypeOfAnswer.Auto){
                      typeString += "【"+item.PrizeOrderView.AnswerRevealConditionType.ToDescription()+"】";
                  }
                    <p class="rmn-item">
                        <em>竞猜开奖方式 :</em>
                        <span>@typeString
                        </span>
                    </p>}
                }
                <div class="clear"></div>
                @{
              if (item.PrizeOrderView.RevealStateNum == RevealState.UnDrawn.ToInt()
                  && joinEnable
                  )
              {
                    <div class="r-play-con">
                        <a class="r-play-button excute-launch" target="_self" href="#" join-enable="@joinEnable" adv-url="@advurl" scope-type="@scopeType" scope-city="@scopeCity" true-href="/Vip/PrizeBetting?revealType=@rtype&poId=@poid"><i class="icon-play pngIcon"></i>我要抽奖</a>
                    </div>
              }
                }
            </dd>
        </dl>
          }
      }
      else
      {
        <div style="font-weight: bold; text-align: center; font-size: 20px; padding: 20px 0; line-height: 200px;">暂时没有可抽的奖</div>
      }
    }
    <div class="clear"></div>
    @Html.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "id",
           ContainerTagName = "div",
           FirstPageText = "首页",
           LastPageText = "尾页",
           PrevPageText = "上一页",
           NextPageText = "下一页",
           PagerItemsSeperator = "",
           NumericPagerItemCount = 10, //获取或设置每页显示的数字页索引索引分页导航元素的数目
           PagerItemWrapperFormatString = "{0}",
           CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>"
       }, new { @class = "pageBox" })
</div>
@Html.Partial("_checkCityScripts")
