@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}

@using System.Data;

@section scripts{
    <script type="text/javascript">
        $(function () {
            var marginright = parseInt($("#top-prizes-container").css("margin-right").replace("px", ""));
            $("#top-prizes-container").width($(".bound").width() - (marginright + 5));
            var pwidth = $("#top-prizes-container").width();
            var lrwidth = (pwidth / 3);
            $("#top-prizes-container .left").width(lrwidth);
            $("#top-prizes-container .right").width(lrwidth);
            var margin = lrwidth + 5;
            //$("#top-prizes-container .middle").css("margin", "0 " + margin.toString() + "px !important");
            $("#top-prizes-container .middle").css("margin-left", margin.toString() + "px");
            $("#top-prizes-container .middle").css("margin-right", margin.toString() + "px");
        });</script>
}
@section styles{
    <style type="text/css">
        #prize-results-container {
            float: right;
            width: 250px;
            height: 500px;
            border: solid 1px black;
        }

        #top-prizes-container {
            margin-right: 255px !important;
            margin-right: 255px;
            height: auto;
        }

            #top-prizes-container .left {
                float: left;
                height: auto;
                /*background: #9c6;*/
            }

            #top-prizes-container .middle {
                height: auto;
                /*background: #ffa;*/
            }

            #top-prizes-container .right {
                float: right;
                height: auto;
                /*background: #9c6;*/
            }
    </style>
}
<div class="bannner" style="height: 266px;">
    <div class="indimg">
        <div class="banner">
            <div id="banner">
                <div id="ifocus" style="width: 1440px;">
                    <div id="ifocus_pic" style="width: 1440px; height: 266px">
                        <div style="left: 0px" id="ifocus_piclist">
                            <ul style="left: 0px; width: 7200px;">

                                <li><a href="http://www.wuliubang.net/" title="猎头服务" target="_blank">
                                    <img src="~/content/website/images/1405561479.jpg" alt="猎头服务" width="1440" height="266">
                                </a></li>

                                <li><a href="http://www.wuliubang.net/" title="行业优势" target="_blank">
                                    <img src="~/content/website/images/1405561958.jpg" alt="行业优势" width="1440" height="266">
                                </a></li>

                                <li><a href="http://www.wuliubang.net/" title="猎头职位" target="_blank">
                                    <img src="~/content/website/images/1405561790.jpg" alt="猎头职位" width="1440" height="266">
                                </a></li>

                                <li><a href="http://www.wuliubang.net/" title="咨询服务" target="_blank">
                                    <img src="~/content/website/images/1405414005.jpg" alt="咨询服务" width="1440" height="266">
                                </a></li>

                            </ul>
                        </div>
                        <div id="ifocus_btn">
                            <ul>


                                <li class="current">&nbsp;</li>


                                <li class="">&nbsp;</li>


                                <li class="">&nbsp;</li>


                                <li class="">&nbsp;</li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index">
    <div id="News">
        <div class="inner">
            <h3><span>新闻咨询</span></h3>
            <ul>
                <div class="soroll">
                    <ol class="list-none metlist" style="margin-top: 0px;">
                        <li class="list "><a href="http://www.wuliubang.net/" title="2014新春动员大会" target="_self">2014新春动员大会</a></li>
                        <li class="list top"><a href="http://www.wuliubang.net/" title="反浪费不等于反对发展高端餐饮" target="_self">反浪费不等于反对发展高端餐饮</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="反浪费不等于反对发展高端餐饮" target="_self">反浪费不等于反对发展高端餐饮</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="物业管理行业引入企业优化管理" target="_self">物业管理行业引入企业优化管理</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="物业管理行业引入企业优化管理" target="_self">物业管理行业引入企业优化管理</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="浦东工委召开高端物业管理企业人才需求研讨会" target="_self">浦东工委召开高端物业管理企业人才需求研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="浦东工委召开高端物业管理企业人才需求研讨会" target="_self">浦东工委召开高端物业管理企业人才需求研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="市物业协会召开行业开源节流工作研讨会" target="_self">市物业协会召开行业开源节流工作研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="市物业协会召开行业开源节流工作研讨会" target="_self">市物业协会召开行业开源节流工作研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="2014新春动员大会" target="_self">2014新春动员大会</a></li>
                    </ol>
                </div>
            </ul>
            <div id="productsearch" class="data-valuez=&#39;&#39;">
                <span><i style="float: left;"></i></span><span>
                    <form method="POST" name="myform1" action="http://www.wuliubang.net/" target="_self">
                        <input type="hidden" name="lang" value="cn">&nbsp;<input type="hidden" name="searchtype" value="0">&nbsp;<span class="navsearch_input"><input type="text" name="searchword" size="20"></span>&nbsp;<input class="searchimage" type="image" src="~/content/website/images/index_btn.gif">
                    </form>
                </span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="features-index">
        <div class="bound">
            <div id="prize-results-container">
            </div>
            <div id="top-prizes-container">
                <div class="left">
                    @{
                        DataRow[] arrayDR = (DataRow[])ViewBag.TopTimingPrizeOrders;
                        if (arrayDR != null)
                        {
                            foreach (DataRow dr in arrayDR)
                            {
                                string poid = dr["Id"].ToString();
                                string prizeName = dr["PrizeName"].ToString();
                                string prizeDescription = dr["PrizeDescription"].ToString();
                        <a href="#">
                            <img src="~/content/website/images/1405492353.jpg" alt="猎头服务" class="ph">
                            <div class="ph">
                                <h4 class="c_blue">@prizeName</h4>
                                <p>@prizeDescription</p>
                            </div>
                            <p>
                                <input type="button" value="抽奖" style="float:right;margin-right:10px;width:200px;height:30px;" onclick="javascript: location.href = '/Vip/PrizeBetting?revealType=1&poId=@poid    '" />
                            </p>
                        </a>
                            }
                        }
                    }
                    <div class="clear"></div>
                </div>
                <div class="right">
                    @{
                        arrayDR = (DataRow[])ViewBag.TopQuotaPrizeOrders;
                        if (arrayDR != null)
                        {
                            foreach (DataRow dr in arrayDR)
                            {
                                string prizeName = dr["PrizeName"].ToString();
                                string prizeDescription = dr["PrizeDescription"].ToString();
                                string poid = dr["Id"].ToString();
                        <a href="#">
                            <img src="~/content/website/images/1405492353.jpg" alt="猎头服务" class="ph">
                            <div class="ph">
                                <h4 class="c_blue">@prizeName</h4>
                                <p>@prizeDescription</p>
                            </div>
                            <p>
                                <input type="button" value="抽奖" style="float:right;margin-right:10px;width:200px;height:30px;" onclick="javascript: location.href = '/Vip/PrizeBetting?revealType=2&poId=@poid'" />
                            </p>
                        </a>
                            }
                        }
                    }
                    <div class="clear"></div>
                </div>
                <div class="middle">
                    @{
                        arrayDR = (DataRow[])ViewBag.TopAnswerPrizeOrders;
                        if (arrayDR != null)
                        {
                            foreach (DataRow dr in arrayDR)
                            {
                                string prizeName = dr["PrizeName"].ToString();
                                string prizeDescription = dr["PrizeDescription"].ToString();
                                string poid = dr["Id"].ToString();
                        <a href="#">
                            <img src="~/content/website/images/1405492353.jpg" alt="猎头服务" class="ph">
                            <div class="ph">
                                <h4 class="c_blue">@prizeName</h4>
                                <p>@prizeDescription</p>
                            </div>
                            <p>
                                <input type="button" value="抽奖" style="float:right;margin-right:10px;width:200px;height:30px;" onclick="javascript: location.href = '/Vip/PrizeBetting?revealType=3&poId=@poid'" />
                            </p>
                        </a>
                            }
                        }
                    }
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="index-link linkx">
        <div class="bound">
            <h3 class="title">友情链接:</h3>
            <div class="img" style="width: 883px;">
                <ul class="list-none">
                </ul>
            </div>

            <div class="txt" style="width: 883px;">
                <ul class="list-none">
                    <li><a href="http://www.baidu.com/" target="_blank" title="">百度</a></li>
                    <li><a href="http://www.sina.com.cn/" target="_blank" title="">新浪</a></li>
                    <li><a href="http://news.163.com/" target="_blank" title="">网易新闻</a></li>
                    <li><a href="http://www.wuliubang.net/" target="_blank" title="">物流邦</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="clear"></div>
