@using Webdiyer.WebControls.Mvc;
@using LotteryDraw.Component.Tools;
@model PagedList<LotteryDraw.Site.Models.MemberView>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <li class="active">用户管理</li>
}
@section BodyHeader{
    <h1>用户管理
								<small>
                                    <i class="icon-double-angle-right"></i>
                                    用户列表
                                </small>
    </h1>
}
@section styles{
    <link href="~/Content/Modal-UI.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            用户信息列表
        </div>
        <div class="table-responsive">
            <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="sample-table-2_length" class="dataTables_length">
                            <label>
                                显示前
                                <select size="1" name="sample-table-2_length" aria-controls="sample-table-2">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                条</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            <label>
                                @using (Html.BeginForm("UserList", "Account", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                                {
                                
                                    <span>搜索关键字:</span><input type="text" name="kword" aria-controls="sample-table-2" style="width:200px;" value="@ViewBag.Keywords" placeholder="用户名/昵称/Email" />
                                    <input type="submit" value="搜索(S)" accesskey="S" />
                                }
                            </label>
                        </div>
                    </div>
                </div>
                @{
                    if (Model == null)
                    {
                    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
                        <tr>
                            <td>没有符合条件的记录</td>
                        </tr>
                    </table>
                    }
                    else
                    {
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th>用户名</th>
                                <th>昵称</th>
                                <th>Email</th>
                                <th>
                                    <i class="icon-time bigger-110 hidden-480"></i>
                                    注册日期</th>
                                <th>登录次数</th>
                                <th>拥有角色</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>可发起抽奖次数</th>
                                <th style="width: 70px;"></th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @{
                        bool isOdd = true;
                        foreach (var item in Model)
                        {
                            string classString = "odd";
                            if (!isOdd)
                            {
                                classString = "even";
                            }
                                <tr class="@classString">

                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddDate)</td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.LoginLogCount)
                                    </td>
                                    <td>@item.RoleNames.ExpandAndToString(",")</td>
                                    <td class="hidden">@item.Id</td>
                                    <td class="hidden"></td>
                                    <td class="hidden"></td>
                                    <td>@Html.DisplayFor(modelItem => item.PubishingEnableTimes)</td>
                                    <!--buttons-->
                                    <td>
                                        <div style="float: left; margin-right: 1px;">
                                            <div class="inline position-relative">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" title="设置">
                                                    <i class="icon-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#modal-member-detail" data-toggle="modal" class="tooltip-info detail" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="icon-zoom-in bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#modal-member-edit" data-toggle="modal" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="icon-edit bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-error delete" data-rel="tooltip" title="" data-original-title="Delete" memberid="@item.Id">
                                                            <span class="red">
                                                                <i class="icon-trash bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                            @*<a class="btn btn-xs btn-success" href="#">
                                                <i class="icon-ok bigger-120"></i>
                                            </a>
                                            <a class="blue edit btn btn-xs btn-info" href="#modal-member-detail" data-toggle="modal">
                                                <i class="icon-edit bigger-120"></i>
                                            </a>
                                            <a class="btn btn-xs btn-danger" href="#">
                                                <i class="icon-trash bigger-120"></i>
                                            </a>*@
                                            <a class="btn btn-xs btn-warning no-audit" href="#modal-noaudit" data-toggle="modal" title="免审核" memberid="@item.Id">
                                                <i class="icon-flag bigger-120"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            isOdd = !isOdd;
                        }
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="sample-table-2_info">共 @ViewBag.PageCount 页 @ViewBag.TotalCount 条记录，当前为第 @ViewBag.PageIndex 页</div>
                        </div>
                        <div class="col-sm-6">

                            <div class="dataTables_paginate paging_bootstrap">
                                @Html.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "Id",
           ContainerTagName = "ul",
           FirstPageText = "首页",
           LastPageText = "尾页",
           PrevPageText = "<<",
           NextPageText = ">>",
           PagerItemsSeperator = "",
           NumericPagerItemCount = 5, //获取或设置每页显示的数字页索引索引分页导航元素的数目
           PagerItemWrapperFormatString = "<li>{0}</li>",
           CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"#\">{0}</a></li>"
       }, new { @class = "pagination" })
                            </div>
                        </div>
                    </div>}
                }
            </div>

        </div>
    </div>
</div>

<div id="modal-member-detail" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">用户·详情</h4>
            </div>

            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="hidden" id="hidnUserId" />
                            <table class="modal-tb">
                                <tr>
                                    <td>
                                        <label>用户名</label>
                                    </td>
                                    <td id="tdUserName" style="width: 100px;"></td>
                                    <td>
                                        <label>昵称</label>
                                    </td>
                                    <td id="tdNickName"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Email</label>
                                    </td>
                                    <td id="tdEmail"></td>
                                    <td>
                                        <label>注册日期</label>
                                    </td>
                                    <td id="tdRegDate"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>角色</label>
                                    </td>
                                    <td id="tdRoles" colspan="3"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modal-member-edit" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">用户·编辑</h4>
            </div>

            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="hidden" id="hidnUserId_Edit" />
                            <table class="modal-tb">
                                <tr>
                                    <td>
                                        <label>用户名</label>
                                    </td>
                                    <td id="tdUserName_Edit" style="width: 100px;"></td>
                                    <td>
                                        <label>昵称</label>
                                    </td>
                                    <td id="tdNickName_Edit"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Email</label>
                                    </td>
                                    <td id="tdEmail_Edit"></td>
                                    <td>
                                        <label>注册日期</label>
                                    </td>
                                    <td id="tdRegDate_Edit"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>角色</label>
                                    </td>
                                    <td id="tdRoles_Edit" colspan="3"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    关闭
                </button>
                <button data-bb-handler="click" type="button" class="btn btn-sm btn-primary">重置密码</button>
                <button data-bb-handler="success" type="button" class="btn btn-sm btn-success"><i class="icon-ok"></i>Success!</button>
                <button data-bb-handler="danger" type="button" class="btn btn-sm btn-danger">Danger!</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-noaudit" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">用户·免审核</h4>
            </div>

            <div class="modal-body overflow-visible">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="hidden" id="hidnUserId_noaudit" />
                            <table class="modal-tb">
                                <tr>
                                    <td>
                                        <label style="width: 100px;">免审核次数</label></td>
                                    <td>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtNoAuditTimes" placeholder="必须输入数字" title="" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-bb-handler="click" type="button" id="btnSaveNoAuditTimes" class="btn btn-sm btn-primary">保存</button>
                <button data-bb-handler="danger" type="button" id="btnNoAuditForever" class="btn btn-sm btn-danger">永久免审核</button>
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @{Html.RegisterMvcPagerScriptResource();}
    <script src="~/Content/admin/assets/js/bootbox.min.js"></script>
    <script src="~/Content/admin/assets/js/jquery.gritter.min.js"></script>
    <script src="~/Content/admin/assets/js/chosen.jquery.min.js"></script>

    <script src="~/Content/admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.pager.js"></script>
    <script type="text/javascript">
        $(function () {
            //$(".chosen-select").chosen();
            //$('#chosen-multiple-style').on('click', function (e) {
            //    var target = $(e.target).find('input[type=radio]');
            //    var which = parseInt(target.val());
            //    if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            //    else $('#form-field-select-4').removeClass('tag-input-style');
            //});


            //chosen plugin inside a modal will have a zero width because the select element is originally hidden
            //and its width cannot be determined.
            //so we set the width after modal is show
            $('#modal-form').on('shown.bs.modal', function () {
                $(this).find('.chosen-container').each(function () {
                    $(this).find('a:first-child').css('width', '210px');
                    $(this).find('.chosen-drop').css('width', '210px');
                    $(this).find('.chosen-search input').css('width', '200px');
                });
            })
            /**
            //or you can activate the chosen plugin after modal is shown
            //this way select element becomes visible with dimensions and chosen works as expected
            $('#modal-form').on('shown', function () {
                $(this).find('.modal-chosen').chosen();
            })
            */

            $("a[class='intervention']").click(function () {
                initUiBeforeSearchUsers();
                $("h3.icon-loading").hide();
                $("#txtFuzzyUserInfo").val("");
                var $row = $(this).parent().parent().parent();
                var prizeorderId = $row.find("td").eq(8).html();
                $("#hidnPOId").val(prizeorderId);
            });

            $("a[class*='no-audit']").click(function () {
                ////在这里面输入任何合法的js语句（以下将演示一个自定义风格的层）
                //$.layer({
                //    type: 1,   //0-4的选择,（1代表page层）
                //    area: ['550px', '400px'],
                //    //shade: [0],  //不显示遮罩
                //    border: [0], //不显示边框
                //    title: [
                //        '友情提示。',
                //        //自定义标题风格，如果不需要，直接title: '标题' 即可  #577DB7
                //        'border:none; background:#024D9E; color:#fff;'
                //    ],
                //    bgcolor: '#eee', //设置层背景色
                //    page: {
                //        dom: '#noaudit-alert-content',
                //    },
                //    shift: 'top' //从上动画弹出
                //});
            });

            $("a[class*='edit']").on("click", function (e) {
                var $row = $(this).parent().parent().parent();
                initUIFromDataRow($row);
                e.preventDefault();
            });

            $("a[class*='detail']").on("click", function (e) {
                var $row = $(this).parent().parent().parent().parent().parent().parent();
                initUIFromDataRow($row);
                e.preventDefault();
            });

            $("a[class*='set2top']").on("click", function (e) {
                var $aobj = $(this);
                JqUIConfirm("【置顶】该奖单？", function () {
                    //确定
                    var poid = $aobj.attr("poid");
                    Set2Top(poid);
                }, function () {
                    //取消
                });
                e.preventDefault();
            });

            //免审核
            $("a[class*='no-audit']").click(function (e) {
                $("#hidnUserId_noaudit").val($(this).attr("memberid"));
                e.preventDefault();
            });

            $("#btnSaveNoAuditTimes").click(function (e) {
                var timesval = $.trim($("#txtNoAuditTimes").val());
                var r = /^\+?[1-9][0-9]*$/;　　//正整数 
                if (r.test(timesval)) {
                    var memberid = $("#hidnUserId_noaudit").val();
                    NoAudit(memberid, timesval);
                } else {
                    layer.alert("必须输入数字", 8);
                }
            });

            $("#btnNoAuditForever").click(function (e) {
                var memberid = $("#hidnUserId_noaudit").val();
                NoAudit(memberid, null);
            });

            //删除
            $("a[class*='delete']").click(function (e) {
                var mid = $(this).attr("memberid");
                if (mid == null || mid == 0) {
                    JqUIAlert("用户Id不合法。");
                    return;
                }
                JqUIConfirm("【删除】该用户？", function () {
                    //确定
                    DeleteUser(mid);
                }, function () {
                    //取消
                });
                e.preventDefault();
            });
        });

        // 置顶
        function Set2Top(poid) {
            $.ajax({
                type: 'POST',
                url: 'Set2Top',
                cache: false,
                data: {
                    prizeorderIdString: poid
                },
                success: function (data) {
                    var errorString = data.ErrorString;
                    if (errorString != "" && errorString != null) {
                        JqUIAlert(errorString);
                        return;
                    }
                    JqUIAlert("置顶成功");
                },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                }
                , dataType: "json"
            });
        }

        // 免审核
        function NoAudit(memberid, times) {
            if (memberid == null || memberid == 0) {
                layer.alert("用户Id不合法。", 8);
                return;
            }

            var loadi;
            $.ajax({
                type: 'POST',
                url: 'NoAudit',
                cache: false,
                data: {
                    memberid: memberid,
                    noauditTimes: times
                },
                success: function (data) {
                    var errorString = data.ErrorString;
                    if (errorString != "" && errorString != null) {
                        JqUIAlert(errorString);
                        return;
                    }
                    layer.alert("免审核成功", 9);
                },
                beforeSend: function () {
                    loadi = layer.load('正在保存，请耐心等待…');
                    //showLoading(true);
                },
                complete: function () {
                    //showLoading(false);
                    layer.close(loadi);
                }
                , dataType: "json"
            });
        }

        // 删除用户
        function DeleteUser(memberid) {
            $.ajax({
                type: 'POST',
                url: 'Delete',
                cache: false,
                data: {
                    memberid: memberid
                },
                success: function (data) {
                    var errorString = data.ErrorString;
                    if (errorString != "" && errorString != null) {
                        JqUIAlert(errorString);
                        return;
                    }
                    JqUIAlert("删除成功");
                },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                }
                , dataType: "json"
            });
        }

        function initUIFromDataRow(row) {
            var $row = row;
            var username = $row.find("td").eq(0).html();
            var nickname = $row.find("td").eq(1).html();
            var email = $row.find("td").eq(2).html();
            var regdate = $row.find("td").eq(3).html();
            var logtimes = $row.find("td").eq(4).html();
            var roles = $row.find("td").eq(5).html();
            var hidden1 = $row.find("td").eq(6).html();
            var hidden2 = $row.find("td").eq(7).html();
            var hidden3 = $row.find("td").eq(8).html();
            $("#tdUserName").html(username);
            $("#tdNickName").html(nickname);
            $("#tdEmail").html(email);
            $("#tdRegDate").html(regdate);
            $("#tdRoles").html(roles);
            $("#tdPbName").html(hidden1);
            $("#tdPbDate").html(hidden2);
            $("#hidnUserId").val(hidden3);
        }
    </script>
}
