@using Webdiyer.WebControls.Mvc;
@using LotteryDraw.Component.Tools;
@model PagedList<LotteryDraw.Site.Models.MemberView>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <li class="active">用户管理</li>
}
@section BodyHeader{
    <h1>用户管理
								<small>
                                    <i class="icon-double-angle-right"></i>
                                    用户列表
                                </small>
    </h1>
}
<div class="row">
    <div class="col-xs-12">
        <div id="loadingDiv" style="display: none;">
            <img src="~/Content/admin/assets/css/images/loading.gif" /><h3>正在加载数据，请稍候...</h3>
        </div>
        <div class="table-header">
            用户信息列表
        </div>
        <div class="table-responsive">
            <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="sample-table-2_length" class="dataTables_length">
                            <label>
                                显示前
                                <select size="1" name="sample-table-2_length" aria-controls="sample-table-2">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                条</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            <label>
                                @using (Html.BeginForm("UserList", "Account", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                                {
                                
                                    <span>搜索关键字:</span><input type="text" name="kword" aria-controls="sample-table-2" style="width:200px;" value="@ViewBag.Keywords" placeholder="用户名/昵称/Email" />
                                    <input type="submit" value="搜索(S)" accesskey="S" />
                                }
                            </label>
                        </div>
                    </div>
                </div>
                @{
                    if (Model == null)
                    {
                    <table class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
                        <tr>
                            <td>没有符合条件的记录</td>
                        </tr>
                    </table>
                    }
                    else
                    {
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th>用户名</th>
                                <th>昵称</th>
                                <th>Email</th>
                                <th>
                                    <i class="icon-time bigger-110 hidden-480"></i>
                                    注册日期</th>
                                <th>登录次数</th>
                                <th>拥有角色</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @{
                        bool isOdd = true;
                        foreach (var item in Model)
                        {
                            string classString = "odd";
                            if (!isOdd)
                            {
                                classString = "even";
                            }
                                <tr class="@classString">

                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddDate)</td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.LoginLogCount)
                                    </td>
                                    <td>@item.RoleNames.ExpandAndToString(",")</td>
                                    <!--buttons-->
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-success">
                                                <i class="icon-ok bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-info">
                                                <i class="icon-edit bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger">
                                                <i class="icon-trash bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-warning">
                                                <i class="icon-flag bigger-120"></i>
                                            </button>
                                        </div>

                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <div class="inline position-relative">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="icon-zoom-in bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="icon-edit bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
                                                            <span class="red">
                                                                <i class="icon-trash bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            isOdd = !isOdd;
                        }
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="sample-table-2_info">共 @ViewBag.PageCount 页 @ViewBag.TotalCount 条记录，当前为第 @ViewBag.PageIndex 页</div>
                        </div>
                        <div class="col-sm-6">

                            <div class="dataTables_paginate paging_bootstrap">
                                @Html.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "Id",
           ContainerTagName = "ul",
           FirstPageText = "首页",
           LastPageText = "尾页",
           PrevPageText = "<<",
           NextPageText = ">>",
           PagerItemsSeperator = "",
           NumericPagerItemCount = 5, //获取或设置每页显示的数字页索引索引分页导航元素的数目
           PagerItemWrapperFormatString = "<li>{0}</li>",
           CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"#\">{0}</a></li>"
       }, new { @class = "pagination" })
                                @*@Ajax.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "PrizeOrderId",
           ContainerTagName = "ul",
           FirstPageText = "首页",
           LastPageText = "尾页",
           PrevPageText = "<<",
           NextPageText = ">>",
           PagerItemsSeperator = "",
           NumericPagerItemCount = 5, //获取或设置每页显示的数字页索引索引分页导航元素的数目
           PagerItemWrapperFormatString = "<li>{0}</li>",
           CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"#\">{0}</a></li>"
       },
                           new MvcAjaxOptions
                           {
                               UpdateTargetId = "sample-table-2_wrapper",
                               LoadingElementId = "loadingDiv",
                               OnBegin = "$('#sample-table-2_wrapper').fadeOut('slow')",
                               OnComplete = "$('#sample-table-2_wrapper').fadeIn('slow')",
                               EnablePartialLoading = true
                           }, new { @class = "pagination" })*@

                                @*@Ajax.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "Id",
           ShowPageIndexBox = true,
           NumericPagerItemCount = 5, //获取或设置每页显示的数字页索引索引分页导航元素的数目
           PageIndexBoxType = PageIndexBoxType.DropDownList,
           ShowGoButton = false
       },
    new MvcAjaxOptions
    {
        UpdateTargetId = "sample-table-2_wrapper",
        EnablePartialLoading = true
        //,LoadingElementId = "loadingDiv",
        //OnBegin = "$('#sample-table-2_wrapper').fadeOut('slow')",
        //OnComplete = "$('#sample-table-2_wrapper').fadeIn('slow')"
    })*@
                            </div>
                        </div>
                    </div>}
                }
            </div>

        </div>
    </div>
</div>
